@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel 
@{
}

<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">id:</label>
        <input type="text" class="form-control" id="id" name="id" required placeholder="id">
        <label for="Origen" class="form-label">Origen:</label>
        <input type="text" class="form-control" id="Origen" name="Origen" required placeholder="Origen">
        <label for="Tiempo estimado" class="form-label">Tiempo estimado:</label>
        <input type="number" class="form-control" id="Tiempo estimado" name="Tiempo estimado" required placeholder="Tiempo estimado">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>