@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero de asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>adsf1561</td>
      <td>BMW</td>
      <td>2020</td>
      <td>70.145</td>
      <td>24</td>
      <td>23248SD4</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>ZXCZ1561</td>
      <td>BMW</td>
      <td>2010</td>
      <td>70</td>
      <td>12</td>
      <td>23AS4</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>adSA617</td>
      <td>BMW</td>
      <td>2008</td>
      <td>7145</td>
      <td>4</td>
      <td>232ZX4</td>
    </tr>
  </tbody>
</table>