@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">id:</label>
        <input type="text" class="form-control" id="id" name="id" required placeholder="id">
        <label for="Marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="Marca" name="Marca" required placeholder="Marca">
        <label for="Modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="Modelo" name="Modelo" required placeholder="Modelo">
        <label for="Kilometraje" class="form-label">Kilometraje:</label>
        <input type="number" class="form-control" id="Kilometraje" name="Kilometraje" required placeholder="Kilometraje">
        <label for="Número de asientos" class="form-label">Número de asientos:</label>
        <input type="number" class="form-control" id="Número de asientos" name="Número de asientos" required placeholder="Número de asientos">
        <label for="Placa" class="form-label">Placa:</label>
        <input type="text" class="form-control" id="Placa" name="Placa" required placeholder="Placa">
        <label for="tipo">Tipo:</label>
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>