@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThoav_OouMCfUsNWzYrCSigJTHQiwatsfwpA&usqp=CAU">
</div>
