@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
    //form-control hace que la casilla de entrada se vea alargada
    //required hace que los campos sean obligatorios 
    //text center hace que el texto este centrado  
    //<span class="text-danger" asp-validation-for="Estacion.nombre">Error</span>   es para que muestre error en una casilla si esta no esta diligenciada y esto es validar desde backend
}

<div class="text-center">
    <form method = "POST">
        <label for="nombre" class = "form-label">Nombre:</label>
        <input type="text" class="form-control" required placeholder="Nombre" minlength="3" asp-for="Estacion.nombre">
        <span class="text-danger" asp-validation-for="Estacion.nombre"></span>
        <label for="direccion" class="form-label">Direccion:</label>
        <input type="text" class="form-control" required placeholder="Direccion" asp-for="Estacion.direccion">
        <span class="text-danger" asp-validation-for="Estacion.Direccion"></span>
        <label for="coord_x" class="form-label">Coordenada X:</label>
        <input type="number" class="form-control" required placeholder="Coordenada X" asp-for="Estacion.coord_x" step="any">
        <span class="text-danger" asp-validation-for="Estacion.coord_x"></span>
        <label for="coord_y" class="form-label">Coordenada Y:</label>
        <input type="number" class="form-control" required placeholder="Coordenada Y" asp-for="Estacion.coord_y" step="any">
        <span class="text-danger" asp-validation-for="Estacion.coord_y"></span>
        <label for="tipo">Tipo:</label>
        <select class="form-control" asp-for="Estacion.tipo">
            <option value="">Seleccione el Tipo</option>
            <option value="Principal">Principal</option>
            <option value="Segundaria">Segundaria</option>
        </select>
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
        <span class="text-danger" asp-validation-for="Estacion.tipo"></span>
    </form>
</div>